<div class="home-banner">
  <h1>Jocktails</h1>
</div>

<div class="container">
  <div class="row my-5", style = "justify-content: center">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do%>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card" style="width: 18rem; color: black">
              <%= cl_image_tag cocktail.photo.key, height: 200 %>
              <div class="card-body">
                <h5 class="card-title"><%= cocktail.name %></h5>
                <p class="card-text"><%= cocktail.description %></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
